<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="host" value="localhost" />
		<add key="port" value="4223" />
		<add key="master_brick_uid" value="" />
		<add key="ambient_light_bricklet_uid" value="" />
		<add key="temperature_bricklet_uid" value="" />		
		<add key="lcd_20x4_bricklet_uid" value="" />	
		<add key="server_port" value="31337" />	
	</appSettings>	
</configuration>
